<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.apple-music-api</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/node</string>
    <string>%APP_PATH%/app.js</string>
  </array>

  <key>WorkingDirectory</key>
  <string>%APP_PATH%</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>NODE_ENV</key>
    <string>production</string>
    <key>PORT</key>
    <string>%PORT%</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>AbandonProcessGroup</key>
  <false/>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>StandardOutPath</key>
  <string>%APP_PATH%/log/output.log</string>

  <key>StandardErrorPath</key>
  <string>%APP_PATH%/log/error.log</string>
</dict>
</plist>
